---
categories: [Train, Consult, Contract]
---

<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}
    
    <section class="main-content">
      <div class = "container-fluid">
          {{ content }}
      </div>
      {% if page.title == "Contact" %}
        <div class = "row justify-content-center">
        <iframe id="testimonials" src="https://www.keepandshare.com/doc10/32778/testimonials?ifr=y" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      {% endif %}
      {% include page-footer.html %}
    </section>

  </body>
</html>
